@charset "utf-8";

body { background-color:#2a3542; font-size:14px; }

.hm-container { width:780px; margin:0 auto; }
.form-group { margin-bottom:20px; }

.header { height:58px; margin-top:80px; margin-bottom:50px; background-color:#0d8ccf; background-image:url("../images/sign-header.png"); background-position:center; background-repeat:no-repeat; }
.body { padding-bottom:2px; background-image:url("../images/sign-line.png"); background-position:bottom center; background-repeat:no-repeat; }
.form { width:320px; margin:0 auto; padding:40px 20px 20px 20px; background-color:#1f2f42; border:1px solid #16202c; border-radius:4px; box-shadow:1px 1px 2px rgba(0,0,0,0.3); }
.footer { position:absolute; right:0; left:0; bottom:0; padding-bottom:20px; text-align:center; font-size:16px; color:#46576d; }

@media (min-height:700px) {
	.header { margin-top:300px; }
}